@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 227 100% 98%;
    --foreground: 217 35% 45%;
    --card: 0 0% 100%;
    --card-foreground: var(var(--foreground));
    --primary: 212 100% 50%;
    --bold: 217 21% 21%;
  }

  body {
    @apply mx-auto bg-background px-6 text-[13px] text-foreground xs:text-base;
  }

  main {
    @apply min-h-screen;
  }

  .dark {
    --background: 220 40% 13%;
    --foreground: 0 0% 100%;
    --card: 222 41% 20%;
    --card-foreground: var(--foreground);
    --bold: var(--foreground);
  }
}
